#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	margin-top: 5px;
	padding: 5px;
	border-radius: 30px;
}
.job h3 {
	margin-left: 10px;
}

.listitems {
	font-size: .8em;
}

.job::first-letter {
	font-family: "Comic Sans MS";
	vertical-align: text-bottom;
	font-size: 1em;  
}