.img {
	position: relative;
} 

img#octopus {
	z-index: 0;
	margin-left: 40%;
	margin-top: 10%;

}

img#hat {
	z-index: 1;
	position: absolute;
	top: 35px;
	left: 38%;
}

img#glasses {
	z-index: 2;
	position: absolute;
	left: 45.4%;
	top: 25.5%;
}